.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  height: 4.5rem;
  margin-top: 3.3rem;
  margin-bottom: 1rem;
}

.container + .container {
  margin-top: 2rem;
}

.container svg {
  margin-right: 1rem;
  color: var(--gray-300);

  transition: color 0.3s;
}

.container svg:hover {
  color: var(--danger);
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task p {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-100);
  width: 39rem;
  word-wrap: break-word;
}

.task svg {
  margin: 0 1rem;
  color: var(--blue);
}

.taskCompleted {
  text-decoration: line-through;
}

.task svg:hover {
  color: var(--blue-dark);
  cursor: pointer;
}

@media(max-width: 768px) {
  .task p {
    width: 13rem;
  }

}